@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap');

body {
  font-family: 'Open Sans', sans-serif;
}

.container {
  max-width: 960px;
  margin: 0 auto;
  display: flex;
  padding: 0 10px 0 10px;
}

/* Header */
.header {
  position: fixed;
  top: 0;
  width: 100%;
  background: #E28D17;
  padding: 15px 0;
}

.menu-nav a {
  position: relative;
  color: #FFFFFF;
  font-size: 0.875em;
  font-weight: bold;
  text-transform: uppercase;
}

.menu-nav ul a::after {
  content: "";
  position: absolute;
  width: 100%;
  max-width: 960px;
  height: 3px;
  bottom: -5px;
  left: 0;
  background-color: #FFFFFF;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

.menu-nav ul a:hover::after {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

.menu-logo img {
  width: 100px;
}

.menu-nav {
  flex: 1;
  align-self: center;
}

.menu-nav ul {
  display: flex;
  float: right;
}

.menu-nav ul li {
  display: inline-block;
  margin-left: 25px;
}

/* Introduction */
.introduction {
  width: 100%;
  height: 420px;
  background: url(../images/imagetest.jpeg) no-repeat center;
  background-size: cover;
  text-align: center;
  margin-top: 90px;
  padding: 150px;
}

.introduction h1 {
  margin: 0 auto;
  max-width: 960px;
  font-size: 3em;
  color: #FFFFFF;
  font-weight: bold;
  text-transform: uppercase;
}

.introduction h1::after {
    content: "";
    display: block;
    width: 60px;
    height: 3px;
    background: #FFFFFF;
    margin: 14px auto 10px auto;
}

.introduction p {
  color: #FFFFFF;
  font-size: 1.125em;
  margin: 16px 0 32px 0 ;
}

/* Button */
.button {
  display: block;
  width: 140px;
  height: 40px;
  margin: 0 auto 64px auto;
  color: #FFFFFF;
  text-align: center;
  background: #E28D17;
  border-radius: 50px;
  padding: 10px 0;
  border: none;
}

.button:hover {
  box-shadow: 0 5px 7px 0 rgba(0,0,0,0.24);
  background: #C2570F;
  transition: 0.3s ease-in;
  -webkit-transition: 0.3s ease-in; 
  -moz-transition: 0.3s ease-in; 
  -o-transition: 0.3s ease-in; 
  cursor: pointer;
}

/* Title */
.title {
  padding: 64px 0 16px 0;
  font-size : 1.5em;
  text-align: center;
}

.title::after {
  content: "";
  display: block;
  width: 60px;
  height: 3px;
  background: #E28D17;
  margin: 14px auto 10px auto;
}

/* About */
.about {
  max-width: 700px;
  margin: 0 auto;
}

.about h3 {
  font-size : 1.125em;
  font-weight: bold;
  text-align: center;
  max-width: 500px;
  margin: 0 auto;
  line-height: 25px;
}

.about p {
  text-align: center;
  margin: 16px 0 32px 0;
  line-height: 25px;
}

/* Services and Benefits */
.services, .benefits {
  width: 100%;
}
.services {
  background: #393939;
  color: #FFFFFF;
}

.services h3, .benefits h3 {
  margin: 0 auto 32px auto;
  max-width: 500px;
  text-align: center;
  font-size : 1.125em;
}

.services ul, .benefits ul {
  max-width: 960px;
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  justify-content: space-between;
}

.services ul li, .benefits ul li {
  max-width: 300px;
  text-align: center;
}
.services ul li h4, .benefits ul li h4 {
  font-weight: bold;
}

.benefits h4::after {
  content: "";
  display: block;
  width: 60px;
  height: 3px;
  background: #E28D17;
  margin: 14px auto 10px auto;
}

.services ul li p, .benefits ul li p {
  margin-top: 16px;
  margin-bottom: 64px;
}

.services img, .benefits img {
  width: 70px;
  margin: 0 auto 16px auto;
  background: #E28D17;
  padding: 10px;
  border-radius: 50%;
}

/* Platform */
.platform {
  width: 100%;
  background: #393939;
  color: #FFFFFF;
}

.platform div + div {
  margin-left: 52px;
  flex-direction: column;
}

.platform img {
  width: 250px;
  margin-bottom: 64px;
}

.platform h3 {
  font-size: 1.125em;
  max-width: 500px;
  font-weight: bold;
  margin-bottom: 16px;
}

.buttons {
  margin-top: 32px;
}

.buttons a {
  font-size: 1.125em;
  color: #E28D17;
  font-weight: bold;
  margin-right: 32px;
}

.buttons a:hover {
  color: #C2570F;
  transition: 0.3s ease-in;
  -webkit-transition: 0.3s ease-in; 
  -moz-transition: 0.3s ease-in; 
  -o-transition: 0.3s ease-in; 
}

/* Contact */
.contact {
  max-width: 960px;
  margin: 0 auto;
  padding: 0 10px 0 10px;
}

.contact-form label {
  display: block;
  font-size: 1.125em;
  margin-bottom: 4px;
}

.contact-form input {
  display: block;
  width: 100%;
  border: 2px solid #E28D17;
  border-radius: 8px;
  padding: 7px 10px;
  margin-bottom: 10px;
  font-size: 0.875em;
}

.contact-form textarea {
  display: block;
  width: 100%;
  height: 120px;;
  border: 2px solid #E28D17;
  border-radius: 8px;
  padding: 7px 10px;
  margin-bottom: 32px;
  font-size: 0.875em;
}

/* Footer */
.footer {
  width: 100%;
  background: #393939;
  color:#FFFFFF;
  padding-top: 20px;
}

.footer h3 {
  font-size: 1.125em;
  color: #E28D17;
  text-transform: uppercase;
  letter-spacing: .1em;
  font-weight: bold;
}

.footer h3::after {
  content: "";
  display: block;
  width: 60px;
  height: 3px;
  background: #E28D17;
  margin: 8px 0 16px 0;
}

.footer-storie {
  width: 400px;
}

.footer .container {
  justify-content: space-between;
}

.footer-contact ul li {
  font-size: 0.875em;
  line-height: 20px;
}

.footer-social ul li {
  display: inline-block;
  }

.footer-social ul li i {
  color: #FFFFFF;
  margin-right: 10px;
}

.footer-social ul li i:hover {
  color: #E28D17;
  margin-right: 10px;
  transition: 0.3s ease-in;
  -webkit-transition: 0.3s ease-in; 
  -moz-transition: 0.3s ease-in; 
  -o-transition: 0.3s ease-in; 
}

.copy {
  width: 100%;
  background: #E28D17;
  padding: 15px 0;
  text-align: center;
  margin-top: 20px;
  font-size: 0.875em;
}